<footer class="footer mt-5">
  <div class="container py-5">
    <div class="row text-center text-md-start align-items-center">
      <!-- Columna 1 -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="fw-bold mb-3">Acceso Rápido</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Política de Tratamiento de Datos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>

      <!-- Columna 2 -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="fw-bold mb-3">Visítanos</h5>
        <ul class="list-unstyled">
          <li><a href="#">Nuestra Sede</a></li>
          <li><a href="#">Sede Manizales – Milán</a></li>
        </ul>
      </div>

      <!-- Columna 3 -->
      <div class="col-md-4 text-md-end text-center">
        <app-social-icons [socialLinks]="socialLinks"></app-social-icons>
        <h5 class="fw-bold mb-1">PRESTEZA</h5>
        <p class="mb-0">COMIDA PARA TODOS</p>
      </div>
    </div>

  </div>

</footer>
