<nav class="navbar navbar-expand-lg glass-navbar fixed-top">
  <div class="container-fluid">
    <!-- LOGO -->
    <a class="navbar-brand fw-bold text-white ms-0" [routerLink]="'/'">
      PRESTEZA
    </a>

    <!-- Botón hamburguesa -->
    <button
      class="navbar-toggler border-0 text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list fs-1"></i>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse justify-content-end me-0" id="navbarNav">
      <ul class="navbar-nav align-items-center gap-4">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'" routerLinkActive="active">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/menu'" routerLinkActive="active">MENÚ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/sede'" routerLinkActive="active" style="cursor: pointer;">NUESTRA SEDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/nosotros'" routerLinkActive="active">NOSOTROS</a>
        </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/contacto'" routerLinkActive="active">CONTACTO</a>
                </li>
                <li class="nav-item">
                  <app-cart></app-cart>
                </li>
              </ul>
            </div>
          </div>
        </nav>