<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    {{ label }}
  </a>
  <ul class="dropdown-menu bg-dark bg-opacity-75 border-0 shadow">
    @for (item of items; track item.label) {
      <li>
        <a 
          class="dropdown-item text-white" 
          [routerLink]="item.routerLink || null"
          [href]="item.href || null"
          (click)="onNavigate(item.routerLink || item.href || '')">
          {{ item.label }}
        </a>
      </li>
    }
  </ul>
</li>